
<% content_for :nav do %>
	<div id="nav">
	 	<ul id="iconmenu">
			<li id="home">&nbsp;</li>
			<li id="about"><a href="/about">&nbsp;</a></li>
			<li id="gallery"><a href="/gallery">&nbsp;</a></li>
		</ul>
	</div>
<% end %>

<p class="introduction">
	Welcome to the log of Indro De, web developer / user interface designer. &nbsp; &nbsp; <small>(<a href="/about">more...</a>)</small><br />
	<%= @current_page %><%= link_to_function "search", "toggleDiv('show_search');" %>)</small>
</p>
	<form action="/" method="get" id="searchform" style="margin:0 22px 0 28px; padding:0;">
	<div id="show_search" style="display:none;">
		<input id="search" value="<%=@searchlabel%>" name="search" type="text" class="search_field" maxlength="50" />&nbsp;<input type="submit" value="Search Me!" class="search_button" />
	</div>
	</form>
	

<%= render :partial => "posts" %>
<p>&nbsp;</p>
<%= will_paginate @posts, :inner_window => 2, :separator => " &middot; " %>
