<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Description" content="(zen punch) is the virtual playground of Indro De." />
<meta name="Keywords" content="indro de, indro, de, zen punch, zen, punch, inde" />
<title>(zen punch) | <%= @pagetitle %></title>
<link rel="alternate" type="application/rss+xml" title="(zen punch)" href="/zen/zenlog/zenlog.rss" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/stylesheets/zp2.css" />
<link rel="shortcut icon" href="/zenfav.ico" type="image/x-icon" />
<%= javascript_include_tag 'jquery', 'application' %>
<script src="/javascripts/jquery.validate.pack.js" type="text/javascript"></script>
<script src="/javascripts/jquery.innerfade.js" type="text/javascript"></script>
<script src="/javascripts/easySlider1.5.js" type="text/javascript"></script>
<script src="/javascripts/cufon-yui.js" type="text/javascript"></script>
<script src="/javascripts/Diavlo_Light_300.font.js" type="text/javascript"></script>
<script src="/javascripts/Anonymous_Pro_400.font.js" type="text/javascript"></script>
<script type="text/javascript">
Cufon.replace('h1', { fontFamily: 'Diavlo Light' });
Cufon.replace('h3', { fontFamily: 'Diavlo Light' });
Cufon.replace('h4', { fontFamily: 'Anonymous Pro' });
</script>
<%= yield :otherscripts %>
<!-- PNG FIX for IE6 -->
<!-- http://24ways.org/2007/supersleight-transparent-png-in-ie6 -->
<!--[if lte IE 6]>
	<script type="text/javascript" src="javascript/supersleight-min.js"></script>
<![endif]-->
</head>

<body>
<%= render :partial => "shared/header" %>
<div id="container">
<div id="container_main">
<div id="header_main">
	<%= yield :nav %>
	<div id="logo_link">
		<a href="/" class="clean"><img src="/images/blank.gif" width="100" height="75" alt="" /></a>
	</div>
</div>

<div id="main">	
	<div id="left">
	</div>
	<div id="mid_main">
		<noscript>
			<div class="alert">Sorry! You need to enable Javascript on your browser or upgrade to a Javascript-capable browser to use all features of this website.</div>
		</noscript>
		<%= yield %>
		<div id="footer">
			<%= render :partial => "shared/footer" %>
		</div>
	</div>
</div>
<div id="footer_border">
</div>

</div>
</div>
<script src="http://js.anonym.to/anonym/anonymize.js" type="text/javascript"></script>
<script type="text/javascript"><!--
protected_links = "";

auto_anonymize();
//--></script>
</body>
</html>